<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <link rel="stylesheet" href="/css/itemMng.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        a {
            color: #000000;
            text-decoration: none;
            background-color: transparent;
          }

          .page-item.active .page-link {
            background-color: RGB(0, 112, 74);
            border-color: RGB(0, 112, 74);
        }

        .btn-primary{
            width:120px;
            height: 38px;
            background-color: RGB(0, 112, 74) !important;
            margin-left:20px;
            margin-top:20px;
            border-color:RGB(0, 112, 74);
            box-shadow: none !important;
        }

        .btn-primary:hover {
            color: #fff !important;
            background-color: #fff;
            border-color: RGB(0, 112, 74);
        }

        .page-link{
            color: RGB(0, 112, 74);
        }



    </style>
</head>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            $("searchBtn").on("click",function(e){ //searchBtn이 클릭되면 해당 함수가 불려짐.
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchSellStatus = $("#searchSellStatus").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/admin/items/" + page + "?searchDateType=" + searchDateType
            + "&searchSellStatus=" + searchSellStatus + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery; //이동할 페이지 값을 받아서 현재 조회 조건을 파라미터로 설정 후 상품 데이터를 조회함.
        }
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->

<div layout:fragment="content">
    <div id="member_wrap">
        <div id="member">
            <h1 style="color: #00704a; font-size: 2em; font-weight: bold;">ITEM</h1>
            <span id="member_box">
                        <ul>
                            <li class="member_first2"><a href="/admin/item/new" class="a"><p>상품등록</p></a></li>
                            <li class="member_first"><a href="/admin/items" class="a"><p style="color: #fff;">상품관리</p></a></li>
                        </ul>
                    </span>
        </div>

        <div id="member2">
            <div id="m_img">
                <div id="m_box">
                    <h1 style="font-size: 2em; margin-bottom:10px; font-family: 'Noto Sans KR', sans-serif; font-weight: bold;">상품 관리</h1>
                    <p>등록된 상품을 관리하는 페이지입니다.<br>상품명을 클릭하시면 상품 상세 수정이 가능합니다.</p>
                </div>
            </div>
            <form th:action="@{'/admin/items/'+${items.number}}" role="form" method="get" th:object="${items}">
                <!--조회한 상품 보여주는 테이블 부분-->
                <table class="table" style="font-family: 'Noto Sans KR', sans-serif;">
                    <thead>
                    <tr>
                        <td>상품아이디</td>
                        <td>상품명</td>
                        <td>상태</td>
                        <td>등록자</td>
                        <td>등록일</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, status : ${items.getContent()}">
                        <td th:text="${item.id}"></td>
                        <td>
                            <a th:href="'/admin/item/'+${item.id}" th:text="${item.itemNm}" style="color: RGB(0, 112, 74); font-weight: bold;"></a> <!--상품명 클릭 시 상품 정보 상세 수정으로 넘어감-->
                        </td>
                        <td th:text="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL} ? '판매중' : '품절'"></td>
                        <td th:text="${item.createdBy}"></td>
                        <td th:text="${item.regTime}"></td>
                    </tr>
                    </tbody>
                </table>

                <!--하단 페이지 번호 부분-->
                <!--th:with 는 변수값을 정의할 때 사용합니다. 페이지 시작 번호(start) 와 페이지 번호(end)를 구해서 저장.
                items.number는 현재 보고있는 페이지의 인덱스 items.totalPages는 검색결과로 보여줄 총 페이지 수
                start=(현재 페이지번호(인덱스) /보여줄 페이지수)+1
                end =start +(보여줄 페이지수 -1)-->
                <div th:with="start=${(items.number/maxPage)*maxPage +1},
        end=(${(items.totalPages == 0) ? 1 : (start + (maxPage-1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${items.first}?'disabled'"> <!--첫번째 페이지면 previous가 disabled 됨-->
                            <a th:onclick="'javascript:page('+${items.number - 1} + ')'" aria-label='Previous' class="page-link" style="color:RGB(0, 112, 74);"> <!--items.number 페이지 인덱스는 0부터 시작. -1해줘야함.javascript:page는 위에 선언되어있는 곳으로 이동-->
                                <span aria-hidden="true">Previous</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}" th:classappend="${items.number eq page-1}?'active':''">
                            <a th:onclick="'javascript:page('+${page -1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                        </li>
                        <li class="page-item" th:classappend="${items.last}?'disabled'">
                            <a th:onclick="'javascript:page(' + ${items.number + 1} + ')'" aria-label="Next" class="page-link" style="color:RGB(0, 112, 74);">
                                <span aria-hidden="true">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--조회 조건 선택하는 부분-->
                <div class="form-inline justify-content-center" th:object="${itemSearchDto}">
                    <select th:field="*{searchDateType}" class="form-control" style="width:auto; margin-right:8px;">
                        <option value="all">전체기간</option>
                        <option value="1d">1일</option>
                        <option value="1w">1주</option>
                        <option value="1m">1개월</option>
                        <option value="6m">6개월</option>
                    </select>
                    <select th:field="*{searchSellStatus}" class="form-control" style="width:auto; margin-right:8px;">
                        <option value="">판매상태(전체)</option>
                        <option value="SELL">판매</option>
                        <option value="SOLD_OUT">품절</option>
                    </select>
                    <select th:field="*{searchBy}" class="form-control" style="width:auto; margin-right:8px;">
                        <option value="itemNm">상품명</option>
                        <option value="createdBy">등록자</option>
                    </select>
                    <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
                    <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>